html {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap
}

.wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #f2ff003a;
  padding: 10px;
  border-radius: 20px;
  border: 2px #000 solid
}

.form__wrap {
  display: flex;
  padding: 15px
}

.form__add {
  border-radius: 7px;
  cursor: pointer;
  color: #fff;
  font-family: Arial;
  font-size: 17px;
  font-weight: 700
}

.form__add_input {
  border-radius: 6px;
  padding: 15px;
  margin: 5px
}

.btn__add__save {
  background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
  background-color: #7892c2;
  border-radius: 10px;
  border: 1px solid #4e6096;
  color: #fff;
  font-size: 19px;
  font-weight: 700;
  padding: 10px 30px;
  margin: 10px
}

.btn__add__save:hover {
  background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
  background-color: #476e9e
}

.btn__add__save:active {
  position: relative;
  top: 1px
}

.todo__wrap {
  display: flex;
  justify-content: space-between;
  background-color: #476e9e;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  margin: 5px
}

.todo__btn__delete {
  display: inline-block;
  height: 50px;
  width: 50px;
  text-align: center;
  background-color: #00000080;
  transform: rotate(45deg);
  font-size: 42px;
  color: #fff;
  border-radius: 50%;
  cursor: pointer
}

.todo__btn__delete:hover {
  background-color: #ff000085;
  color: #000
}

.todo__btn__delete:active {
  position: relative;
  top: 1px
}

.tack__text {
  padding: 5px
}

.todo__act {
  color: #fff;
  width: 300px;
  background-color: #b700ffd0;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  border-radius: 10px;
  border: solid 2px #000
}

.todo__complete {
  display: inline-block;
  width: 300px;
  background-color: #a2ff00c7;
  margin-left: auto;
  margin-right: auto;
  text-decoration: line-through;
  border-radius: 3px;
  color: #000;
  border: solid 2px #000
}

.complete {
  display: none;
}